<!DOCTYPE html>
<html lang="en">
<head>
  <title>Tasks</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
</head>
<body>

<div class="container">

  <div class="row">
    <div class="col-md-12">
      {% if success|default(null) %}
      <div class="alert alert-success" role="alert">
        {{ success }}
      </div>
      {% endif %}
      <p class="pull-right">
        {% if isAdmin %}
        <a class="btn btn-default" href="{{ appUrl }}/logout">Logout</a>
        {% else %}
        <a class="btn btn-default" href="{{ appUrl }}/login">Login</a>
        {% endif %}
      </p>
      <h1>Tasks</h1>
      <table class="table">
        <thead>
        <tr>
          <th><a href="{{ fieldsSortUrls.name }}">Name</a></th>
          <th><a href="{{ fieldsSortUrls.email }}">Email</a></th>
          <th>Text</th>
          <th><a href="{{ fieldsSortUrls.status }}">Status</a></th>
          {% if isAdmin %}
            <th></th>
          {% endif %}
        </tr>
        </thead>
        <tbody>
        {% for task in items %}
        <tr>
          <td>{{ task.name }}</td>
          <td>{{ task.email }}</td>
          <td>{{ task.text }}</td>
          <td>
            {% if task.status %}
            Done
            {% else %}
            Pending
            {% endif %}
          </td>
          {% if isAdmin %}
          <td><a href="{{ appUrl }}/edit/{{task.id}}">Edit</a></td>
          {% endif %}
        </tr>
        {% endfor %}
        </tbody>
      </table>
      {{ pagination | raw }}
    </div>

  </div>

  <div class="row">
    <div class="col-md-8">
      <form method="post">
        <div class="form-group">
          <label for="email">Email:</label>
          <input type="text" class="form-control" id="email" placeholder="Enter email" name="email" value="{{ task.email }}">
          {% if errors.email is defined %}
            <span class="text-danger">{{ errors.email }}</span>
          {% endif %}
        </div>
        <div class="form-group">
          <label for="name">Name:</label>
          <input type="name" class="form-control" id="name" placeholder="Enter your name" name="name" value="{{ task.name }}">
          {% if errors.name is defined %}
            <span class="text-danger">{{ errors.name }}</span>
          {% endif %}
        </div>
        <div class="form-group">
          <label for="text">Text:</label>
          <textarea class="form-control" name="text" id="text">{{ task.text }}</textarea>
          {% if errors.text is defined %}
            <span class="text-danger">{{ errors.text }}</span>
          {% endif %}
        </div>
        <button type="submit" class="btn btn-primary">Submit</button>
      </form>
    </div>

  </div>



</div>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
</body>
</html>